body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.post-card {
    height: auto;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    cursor: pointer;
}

.post-card:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-card:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.post-card__header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-card__author-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-card__author-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.verified-account__icon svg {
    width: 20px;
    height: 20px;
    color: rgb(29, 155, 240);
    fill: rgb(29, 155, 240);
}


.post-card__author-email {
    font-size: 15px;
    line-height: 20px;
}

.post-card__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.post-card__text {
    font-size: 15px;
    line-height: 20px;
}

.close-button svg {
    width: 25px;
    height: 25px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.close-button:hover svg {
    fill: rgb(29, 155, 240);
}